{% load static %}
<section id="heroes" class="section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Meet our heroes</h2>
      <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
    </div>
    <div class="row">

      <!-- Heroes item -->
      {% for h in all_heroes %}
      <div class="col-md-6 col-lg-4 col-xs-12">
        <div class="services-item wow fadeInRight" data-wow-delay="0.3s">
          <div class="team-img">
            <img class="img-fluid" src="{{ h.image.thumb.url }}" width="150" height="150">
          </div>
          <div class="services-content">
            <h3><a href="#">{{ h.name }}</a></h3>
            <p>{{ h.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>