{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Area wrapper Starts -->
    {% include 'header_area.html' %}
    <!-- Header Area wrapper End -->

    <!-- Team Section Start -->
    {% include 'enemies.html' %}
    <!-- Team Section End -->

    <!-- About Section start -->
    {% include 'tournament.html' %}
    <!-- About Section End -->

    <!-- Services Section Start -->
    {% include 'heroes.html' %}
    <!-- Services Section End -->

    <!-- Features Section Start -->
    {% include 'features.html' %}
    <!-- Features Section End -->

    <!-- Pricing section Start -->
    {% include 'prices.html' %}
    <!-- Pricing Table Section End -->

    <!-- Testimonial Section Start -->
    {% include 'testimonial.html' %}
    <!-- Testimonial Section End -->

    <!-- Call To Action Section Start -->
    {% include 'cta.html' %}
    <!-- Call To Action Section Start -->

    <!-- Contact Section Start -->
    {% include 'contact.html' %}
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    {% include 'footer.html' %}
    <!-- Footer Section End -->
{% endblock %}