{% load static %}
<div class="about-area section-padding bg-gray" id="tournament">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xs-12 info">
        <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
          <div>
            <div class="site-heading">
              <p class="mb-3">Location</p>
              <h2 class="section-title">A Special Battlefield for Cell's Tournament</h2>
            </div>
            <div class="content">
              <p>
                A special place designed specifically to endure the whole power that is to be unleashed
                from the warriors! The fights will be broadcasted worldwidely. The rules are simple and yet, quite
                exciting:<br>
                - Cell fights against all of the Z Warriors. If he wins, we all die.<br>
                - The only way to save not only the Earth, but the whole Galaxy, is by defeating cell to his last
                living piece.

              </p>
              <a href="#contact" class="btn btn-common mt-3">Get it Now!!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
        <img class="img-fluid" src="{% static 'img/about/img-2.png' %}" alt="" >
      </div>
    </div>
  </div>
</div>